*.o
streamdeckd
streamdeckd-*.tar.xz
streamdeckd.spec
streamdeckd.sublime-project
streamdeckd.sublime-workspace
streamdeckd.desktop
brightness+.png
brightness-.png
color-.png
color+.png
preview1.png
preview2.png
switch1.png
switch2.png
transition.png
