*.o
streamdeckd
streamdeckd-*.tar.xz
streamdeckd.spec
streamdeckd.sublime-project
streamdeckd.sublime-workspace
streamdeckd.desktop
brightness+.png
brightness-.png
color-.png
color+.png
preview1.png
preview2.png
switch1.png
switch2.png
transition.png
transition_off.png
scene_live_off.png
scene_live.png
scene_preview_off.png
scene_preview.png
auto.png
cut.png
ftb.png
stream.png
stream_off.png
record_off.png
record.png
obs.png
scene_live_unused.png
scene_preview_unused.png
left-arrow.png
right-arrow.png
resources.c
resources.h
resources.xml
